@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.home ul li {
    width: 14px;
    gap: 15px;
    list-style: none;
    display: flex;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}


.library {
    min-height: 80vh;
    position: relative;
}


.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 20px;
    padding: 10px 10px 0 8px;
}
.footer div a {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.nav {
    display: flex;
    gap: 11px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 73px;
}

.header > * {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}
.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
    margin: 30px 5px;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}
.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}
.card > * {
    /* padding-top: 10px; */
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    display: flex;
    background-color: #1fdf64;
    height: 15px;
    width: 15px;
    border-radius: 857px;
    padding: 9px;
    align-items: center;
    justify-content: center;
    bottom: 54px;
    left: 150px;
    /* opacity: var(--a); */
    transition: all 1s ease-out;
}

.buttons > * {
    margin: 0 12px;
}
.signupbtn {
    background-color: rgb(32,32,32);
    color: rgb(82, 82, 82);
    font-weight: bold;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover {
    font-size: 17px;
    color: white;
}
.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 68%;
    padding: 12px;
    /* width: 70vw; */
    min-height: 40px;
}

.songsbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 644px;
    overflow-y: scroll;
    margin-bottom: 44px;
}

.songList ul{
    padding: 0 12px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}
.songList .info {
    font-size: 13px;
    width: 344px;
}
.info div {
    word-break: break-all;
}
.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 95%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 3px;
    margin: 5px;
    cursor: pointer;

}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songsbuttons img {
    cursor: pointer;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.songtime {
    color: black;
    width: 125px;
    padding: 0 12px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}